html, body {
    width: 100%;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

body {
    overflow: hidden;
    background-image: url("assets/ui_screens_default_nebula01.png");
    background-repeat: repeat;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
}

.header {
    background-color: rgb(94, 11, 145);
    text-align: center;
    font-size: 24px;
    line-height: 60px;
}

.body {
    display: grid;
    grid-template-rows: max-content 1fr;
    overflow: hidden;
}

.side-bar {
    background-color: rgba(110, 15, 142, 0.3);
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.side-bar::-webkit-scrollbar {
    display: none;
}

.side-bar *, select#race {
    font-size: min(max(1rem, 4vw), 20px);
}

.race-select {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

select#race {
    max-height: 2rem;
    width: 90px;
}

.side-bar .buttons {
    display: flex;
    flex-direction: column;
    width: min(50%, 100px);
    gap: 1rem;
}

button {
    border: none;
    background-color: darkgreen;
    border-radius: 4px;
    font-size: medium;
    color: white;
    padding: 4px 4px;
}

.up-down-buttons button, button.saturate {
    background-color: rgba(121, 36, 150, 0.8);
    border: 1px solid white;
}

.base-wrapper {
    overflow-y: scroll;
    padding: 10px;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 302px);
    grid-template-rows: repeat(auto-fit, 290px);
}

.base-card {
    width: 282px;
    height: 270px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(0, 255, 34, 0.15);
    padding: 8px;
    gap: 4px;
    border: 2px dashed rgba(0, 255, 34);
    border-radius: 8px;
}

.wrapper.minerals-income {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
}

.wrapper.gas-income {
    grid-row: 5 / 6;
    grid-column: 1 / 4;
}

img.wire-frame {
    width: 86px;
    height: 86px;
    background-color: transparent;
    filter: sepia(100%) hue-rotate(200deg) saturate(200%);
}

.worker-counter {
    font-size: x-large;
    text-align: center;
}

.wrapper.minerals-income, span.minerals-income-amount, .wrapper.gas-income, span.gas-income-amount {
    font-size: 20px;
}

.up-down-buttons {
    display: flex;
    justify-content: space-evenly;
}

.up-down-buttons button {
    font-size: larger;
    width: 2rem;
}

@media only screen and (min-width: 800px) {
    .container {
        grid-template-rows: 80px 1fr;
    }
    
    .header {
        font-size: 30px;
        line-height: 80px;
    }
    
    .body {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 3fr;
    }

    .side-bar {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content 1fr;
    }

    .race-select {
        flex-direction: row;
        align-items: center;
    }

    select#race {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 1200px) {
    .body {
        grid-template-columns: 1fr 4fr;
    }

    img.wire-frame {
        width: 140px;
        height: 140px;
    }

    .base-wrapper {
        grid-template-columns: repeat(auto-fit, 472px);
        grid-template-rows: repeat(auto-fit, 356px);
    }

    .base-card  {
        width: 452px;
        height: 336px;
    }

    .worker-counter {
        font-size: xx-large;
    }
}