html, body {
    width: 100%;
}

body {
    background-image: url("assets/ui_screens_default_nebula01.png");
    background-repeat: repeat;
}

.top-stats *, label {
    color: white;
}

.base-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    background-color: rgba(0, 255, 34, 0.15);
    padding: 10px;
    margin: 10px;
    gap: 4px;
    border: 2px dashed rgba(0, 255, 34);
    border-radius: 8px;
}

.wrapper.minerals-income {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
}

.wrapper.gas-income {
    grid-row: 5 / 6;
    grid-column: 1 / 4;
}

.wire-frame {
    background-color: transparent;
    filter: sepia(100%) hue-rotate(200deg) saturate(200%);
}

.worker-counter {
    font-size: xx-large;
    text-align: center;
    color: white;
}

.wrapper.minerals-income, .minerals-income-amount, .wrapper.gas-income, .gas-income-amount {
    font-size: x-large;
    color: white;
}

.up-down-buttons {
    display: flex;
    justify-content: space-evenly;
}

.up-down-buttons button {
    font-size: larger;
    width: 2rem;
}