html, body {
    width: 100%;
}

body {
    background-image: url("assets/ui_screens_default_nebula01.png");
    background-repeat: repeat;
}

.base-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    background-color: rgba(0, 255, 34, 0.15);
    padding: 10px;
    margin: 10px;
    gap: 4px;
    border: 2px dashed rgba(0, 255, 34);
    border-radius: 8px;
}

.wire-frame {
    background-color: transparent;
    filter: sepia(100%) hue-rotate(200deg) saturate(200%);
}

.worker-counter {
    font-size: xx-large;
    text-align: center;
    color: white;
}